<html>
  <head>
    <link rel="icon" href="/img/icon.png"></link>
    <title>About</title>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <div class="main-content">
      {{>header}}
      <img src="img/Romano_Mancini_MsC_Software_Engineer.jpeg" class="portrait"/>
    </div>
    {{>footer}}
  </body>
</html>