<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    {{>header}}
    <img src="img/Romano_Mancini_MsC_Software_Engineer.jpeg" />
    {{>footer}}

  </body>
</html>