<!DOCTYPE html>

<html>
    <head>
        <link rel="stylesheet" href="css/style.css" />
    </head>
    <body>
        {{>header}}
        {{genericErrorMessage}}
        {{>footer}}
    </body>
</html>