<!DOCTYPE html>

<html>
    <head>
        <link rel="icon" href="/img/icon.png"></link>
        <title>404</title>
        <link rel="stylesheet" href="../css/style.css" />
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            {{errorHelpMessage}}
        </div>
        {{>footer}}
    </body>
</html>