<html>
  <head>
    <link rel="stylesheet" href="css/style.css" />
  </head>

  <body>
    <h1>{{title}}</h1>
    <img src="img/Romano_Mancini_MsC_Software_Engineer.jpeg" />
    <p1>Created by {{name}}</p1>
  </body>
</html>